.custom-scrollbar::-webkit-scrollbar {
    width: 2px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #695FCF;
    border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #695FCF;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}



.custom-scrollbar-bottom::-webkit-scrollbar {
    width: 1px;
}
.custom-scrollbar-bottom::-webkit-scrollbar-thumb {
    background-color: #141414;
    border-radius: 5px;
}
.custom-scrollbar-bottom::-webkit-scrollbar-thumb:hover {
    background-color: #695FCF;
}
.custom-scrollbar-bottom::-webkit-scrollbar-track {
    background: transparent;
}
